PORT=3000
SUPABASE_URL=https://otejgjyaxqmrjjskzxzg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90ZWpnanlheHFtcmpqc2t6eHpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MjY1OTQsImV4cCI6MjA4NjIwMjU5NH0.swoI0LsjJkNw_aEyqS1QJr3PWua-vX0B_Z9I43xFV9k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90ZWpnanlheHFtcmpqc2t6eHpnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYyNjU5NCwiZXhwIjoyMDg2MjAyNTk0fQ.YDcnD_IM0MBAau13SlTVQ0d-mNSJj3MpRVCf_4m5yZ8 